[Desktop Entry]
Type=Application
Version=1.0
Name=Install SimulationOS
GenericName=System Installer
Comment=Install SimulationOS to this computer
Exec=/usr/local/bin/simulationos-install
TryExec=/usr/local/bin/simulationos-install
Icon=simulationos
Terminal=false
Categories=System;
Keywords=install;installer;calamares;simulationos;setup;
StartupNotify=false
StartupWMClass=calamares
